<h2>Lista nieruchomości</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Lp</th>
        <th>Typ nieruchomości</th>
        <th>Typ oferty</th>
        <th>Miasto</th>
        <th>Numer</th>
        <th>Cena</th>
        <th>Powierzchnia</th>
    </tr>
    </thead>
    <tbody>
    <?php if (empty($dane)): ?>
        <tr>
            <td colspan="7">Brak danych</td>
        </tr>
    <?php else: ?>
        <?php foreach ($dane as $i => $d): ?>
            <tr>
                <td><?= $i + 1 ?></td>
                <td><?= $d['typ_nieruchomosci'] ?></td>
                <td><?= $d['typ_oferty'] ?></td>
                <td><?= $d['miasto'] ?></td>
                <td><?= $d['numer'] ?></td>
                <td><?= $d['cena'] ?></td>
                <td><?= $d['powierzchnia'] ?></td>

<!--                <td> <a href="--><?//= $this->url('edytuj', ['action' => 'edytuj', 'id' => $i+1]) ?><!--" title="edytuj">Edytuj</a></td>-->
                 <td><a href="edytuj?id=<?= $d['id'] ?>">Edytuj</a> </td>
                 <td><a href="usun?id=<?= $d['id'] ?>">Usun</a> </td>

            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
</table>