<?php
//Connection to DB
define('DB_HOST', 'localhost');
define('DB_NAME', 'googlemaps');
define('DB_USERNAME', 'root');
define('DB_PASSWORD', '');

function polaczDB(): PDO
{
    return new PDO(
        sprintf('mysql:host=%s;dbname=%s', DB_HOST, DB_NAME),
        DB_USERNAME,
        DB_PASSWORD
    );
}

//DB connection end

$this->headScript()->appendFile(
    'https://maps.googleapis.com/maps/api/js?key=AIzaSyAiWDTo8VHkHcqjFkKqmfCJNBu1J9GLPT4&callback=initMap',
    'text/javascript',
    ['async' => true, 'defer' => true]
);

session_start();

$punkty = [];
$pdo = polaczDB();
foreach ($pdo->query('SELECT * FROM punkt') as $wiersz) {
    $punkty[] = $wiersz;
}

?>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script>
    let map;
    let geocoder;

    function initMap() {
        const latlng = new google.maps.LatLng(52.24588095869954, 20.940241813659668);
        const myOptions = {
            zoom: 15,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(
            document.getElementById("map"),
            myOptions
        );

        geocoder = new google.maps.Geocoder();

        const markers = [];
        const coordinates = [
            new google.maps.LatLng(52.24588095869954, 20.940241813659668),	// newelska 6
            new google.maps.LatLng(52.244633, 20.939232),					// ks. janusza 47
            new google.maps.LatLng(52.231263, 21.011265),					// marszłkowska 100/102
            new google.maps.LatLng(52.198559, 20.981289),					// racławicka 144
            new google.maps.LatLng(52.155452, 21.035126),					// al. KEN 85
        ];
        const latlngbounds = new google.maps.LatLngBounds();

        var punkty = <?php echo json_encode($punkty);?>;

        for (const coordDB of punkty){
            var coordinate = new google.maps.LatLng(coordDB['SzerokoscGeograficzna'], coordDB['DlugoscGeograficzna']);
            var opis = coordDB["OpisPunktu"];
            var adres = coordDB["Adres"];

            markers.push( new google.maps.Marker({
                position: coordinate ,
                map: map,
                title: "Adres "+adres + "\nOpis: "+opis
                })
            );

            addInfo(markers[markers.length-1], "<strong>Okno informacyjne</strong><br/>Adres: "+adres + "<br/> Opis: "+ opis);
            latlngbounds.extend(coordinate);
        }

        // for (let i = 0; i < coordinates.length; i++) {
        //     markers[i] = new google.maps.Marker({
        //         position: coordinates[i],
        //         map: map,
        //         title: "Marker nr " + i
        //     });
        //
        //     addInfo(markers[i], "<strong>Okno informacyjne</strong><br/>Marker nr " + i);
        //
        //     latlngbounds.extend(coordinates[i]);
        // }

        map.fitBounds(latlngbounds);
    }

    function addInfo(marker, content) {
        const infowindow = new google.maps.InfoWindow({
            content: content
        });

        marker.addListener("click", () => {
            infowindow.open(map, marker);
        });
    }

    function findAddress(ifAddToDb) {

    var address = document.getElementById('addressTextField').value;
    var description = document.getElementById('descriptionTextField').value;

    geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == 'OK') {
            map.setCenter(results[0].geometry.locaorktion);
            var marker = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });

            if(ifAddToDb){

                $.ajax({
                    type: 'POST',
                    url: '../module/Maps/view/maps/index/addToDBForm.php',
                    data: {dl: results[0].geometry.location.lng(), szer: results[0].geometry.location.lat(), adr: address, descr: description},
                    dataType: 'json',
                    complete: function (obj, textstatus) {
                        if (!('error' in obj)){
                            alert('DB AJAX: ajaxStatus ' + textstatus + ' DB ' + obj.responseText);
                        }
                        else {
                           alert('DB AJAX: ajaxStatus ' +textstatus + ' DB' + obj.responseText);
                        }
                    }
                });
            }
        } else {
            alert('Geocode was not successful for the following reason: ' + status);
        }
    });
    }


</script>

<h2>Punkty</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Dł.Geo</th>
        <th>Szer.Geo</th>
        <th>Adres</th>
        <th>Opis</th>
    </tr>

    <?php foreach ($punkty as $punkt) : ?>
        <tr>
            <td><?= $punkt['id'] ?></td>
            <td><?= $punkt['DlugoscGeograficzna'] ?></td>
            <td><?= $punkt['SzerokoscGeograficzna'] ?></td>
            <td><?= $punkt['Adres'] ?></td>
            <td><?= $punkt['OpisPunktu'] ?></td>
        </tr>
    <?php endforeach; ?>
</table>

<br/>
<br/>


<h2>Dodaj punkt</h2>
<form method="post" action="">
    <table>
        <tr>
            <td>Adres</td>
            <td><input type="text" id="addressTextField"/></td>
        </tr>
        <tr>
            <td>Opis</td>
            <td><input type="text" id="descriptionTextField"/></td>
        </tr
        <tr>
            <td colspan="2"><input id="submit" value="Submit" type="button" onclick="findAddress(true)"/></td>
        </tr>
    </table>
</form>

<br/>
<br/>


<div class="row">
    <div class="col-md-12">
        <h1>Google Maps</h1>
    </div>
    <div class="col-md-12">
        <div id="map" style="width: 800px; height: 600px;"></div>
    </div>
</div>
