Przykladowe UserID:
<p>13246959@N03</p>
<p>164868703@N06</p>
<p>25517152@N05</p>

<div class="row">
    <div class="col-md-12">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" name="userId" class="form-control" placeholder="UserId" value="<?=$this->userId ?>" />
            </div>
            <input type="submit" name="alluserphotos" value="UserID" class="btn btn-primary" />
        </form>
    </div>
</div>

<?=$this->list ?>