<p></p><a href="/php/PI2_LAB1/pi2/public/flickr/search">SEARCH PAGE</a></p>
<p><a href="/php/PI2_LAB1/pi2/public/flickr/alluserphotos">ALL USER PHOTOS PAGE </a></p>

<?php foreach($this->urls as $url): ?>
        <div >
            <a href="<?= $url[1] ?>">
                <img src= "<?= $url[0] ?>"/>
            </a>
        </div>
<?php endforeach; ?>