<h1> Lista komentarzy...</h1>>

    <?php foreach($this->comments as $comment): ?>
<p style="text-align:left">
    Data Dodania: <strong><?= $comment['snippet']['topLevelComment']['snippet']['publishedAt'] ?></strong><br/>
    Użytkownik: <strong><?= $comment['snippet']['topLevelComment']['snippet']['authorDisplayName'] ?></strong><br/>
    Komentarz: <strong><?= $comment['snippet']['topLevelComment']['snippet']['textDisplay'] ?></strong><br/>
</p>

<?php endforeach; ?>