<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Tytuł</th>
        <th>Cena</th>
        <th>Liczba stron</th>
        <th>Opis</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td><?= $this->id ?></td>
            <td><?= $this->tytul ?></td>
            <td><?= $this->cena ?></td>
            <td><?= $this->liczba_stron ?></td>
            <td><?= $this->opis ?></td>
        </tr>
    </tbody>
</table>