<h1>Lista autorów</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Imie</th>
        <th>Nazwisko</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->autorzy as $au): ?>
        <tr>
            <td><?= $au->id ?></td>
            <td><?= $au->imie ?></td>
            <td><?= $au->nazwisko ?></td>
            <td>
                <a href="<?= $this->url('autorzy', ['action' => 'edytuj', 'id' => $au->id]) ?>" title="edytuj rekord">Edytuj<i
                        class="far fa-edit"></i></a>
                <a href="<?= $this->url('autorzy', ['action' => 'usun', 'id' => $au->id]) ?>" title="usuń rekord">Usuń<i
                        class="far fa-trash-alt"></i></a>
                <a href="<?= $this->url('autorzy', ['action' => 'usunPOST', 'id' => $au->id]) ?>" title="usuń rekordPOST">UsuńPOST<i
                        class="far fa-trash-alt"></i></a>
                <a href="<?= $this->url('autorzy', ['action' => 'opis', 'id' => $au->id]) ?>" title="szczegóły">Szczegóły<i
                        class="far fa-trash-opis"></i></a>

            </td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>