<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Książka</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><?= $this->id ?></td>
        <td><?= $this->imie ?></td>
        <td><?= $this->nazwisko ?></td>
        <td><?= $this->tytul ?></td>
    </tr>
    </tbody>
</table>