<h1>Liczby</h1>


<h1>Parzyste</h1>

<ul>
    <?php foreach ($parzyste as $number): // dostęp do zmiennej widoku bezpośrednio ?>
        <li>
            <?=$number ?>
        </li>
    <?php endforeach; ?>
</ul>

<h1>Nieparzyste</h1>
<ul>
    <?php foreach ($nieparzyste as $number): // dostęp do zmiennej widoku bezpośrednio ?>
        <li>
            <?=$number ?>
        </li>
    <?php endforeach; ?>
</ul>