

<h1>Miesiace</h1>

<ul>
    <?php foreach ($miesiace as $kolor => $miesiac): // dostęp do zmiennej widoku bezpośrednio ?>
        <li>
            <?=$kolor ?>:
            <strong><?=$miesiac ?></strong>
        </li>
    <?php endforeach; ?>
</ul>