<h2>Dodawanie pliku</h2>

<? if (!empty($komunikat)): ?>
    <div class="row">
        <div class="col-lg-4">
                <div class="alert alert-success" role="alert"><?= $komunikat['val'] ?></div>
        </div>
    </div>
<? endif; ?>

<div class="row">
    <div class="col-lg-4">
       <?=$this->form($form) ?>
    </div>
</div>


<!--<form action="form.php" method="post">-->
<!---->
<!--    <p>Nazwa pliku: <input type="text" name="Nazwa pliku" value="--><?php //echo $this->nazwa;?><!--"></p>-->
<!---->
<!--    <p>Dane: <textarea name="dane" rows="5" cols="40">--><?php //echo $this->dane;?><!--</textarea></p>-->
<!---->
<!--    <p><input type="submit" /></p>-->
<!--</form>-->