<h2>Edytowanie pliku: <?$this->nazwa ?></h2>

<? if (!empty($komunikat)): ?>
    <div class="row">
        <div class="col-lg-4">
            <div class="alert alert-success" role="alert"><?= $komunikat['val'] ?></div>
        </div>
    </div>
<? endif; ?>

<div class="row">
    <div class="col-lg-4">
        <?=$this->form($form) ?>
    </div>
</div>