<h1>Lista plików</h1>
<a href="<?=$this->url('dropbox/akcje', ['action' => 'dodaj']) ?>">Dodaj plik</a>

<?php if(!empty($this->msg)): ?>
    <div class="alert alert-danger">
        <?=$this->msg ?>
    </div>
<?php else: ?>
    <?php if(empty($this->files)): ?>
        <p>Brak plików.</p>
    <?php else: ?>
        <ul>
            <?php foreach($this->files as $file): ?>
                <li>
                    <a href="<?=$this->url('dropbox/akcje', ['action' => 'pobierz'], ['query' => ['path' => $file->path_lower]]) ?>">
                        <?=$file->name ?>
                    </a>
                    <a href="<?=$this->url('dropbox/akcje', ['action' => 'edytuj'], ['query' => ['path' => $file->path_lower]]) ?>">Edytuj</a>
                    <a href="<?=$this->url('dropbox/akcje', ['action' => 'usun'], ['query' => ['path' => $file->path_lower]]) ?>">Usun</a>
                </li>
            <?php endforeach; ?>
        </ul>
    <?php endif; ?>
<?php endif; ?>