<? if (!empty($komunikat)): ?>
    <div class="row">
        <div class="col-lg-4">
            <div class="alert alert-success" role="alert"><?= $komunikat['val'] ?></div>
        </div>
    </div>
<? endif; ?>